@{
    ViewData["Title"] = "Home Page - Felix Restaurang";
}
<meta name="description" content="Upptäck vår läckra meny med färska och lokala råvaror. Boka bord hos Felix Restaurang idag!">
<div class="HomeContainer">
    <div class="text-center img-background" >
        <h1 class="display-4 text-white">Felix Restaurang</h1>
        <h2 class="text-white">Här kan du komma åt vår Meny <br />bokningar och lediga bord</h2>
        <p></p>
    </div>

       <h2>Populära Rätter</h2>
      <div class="menuBox align-items-center">
            <div class="menuItem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">
                <img src="img/menuItem1.jpg" class="menuItemImg" alt="Menybild" loading="lazy">
                <h3>Cappricosa</h3>
                </a>
                
            </div>
            <div class="menuItem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">
                <img src="img/menuItem2.jpg" class="menuItemImg" alt="Menybild" loading="lazy" />
                <h3>Kebab</h3>
                </a>
               
            </div>
            <div class="menuItem">
                <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">
                <img src="img/menuItem3.jpg" class="menuItemImg" alt="Menybild" loading="lazy" />
                <h3>Vesuvio</h3>
                </a>
                
            </div>
      </div>
</div>

